# Dependências
node_modules/
package-lock.json
yarn.lock

# Arquivos do sistema
.DS_Store
Thumbs.db
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Arquivos temporários
*.tmp
*.temp

# Build
dist/
build/

